h1{
    text-align: center;
}
/* h2{
    text-align: left;
}
h3{
    text-align: right;
}
h4{
    text-align: justify;
} */

.inherit{
    color: red;
}
p{
    text-align: inherit;   /* by using inherit 'p' can the style of his parent.*/
}
h1{
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    text-decoration-style: wavy;
}
h2{
    text-indent: 20px;
    text-transform: uppercase;
}
h3{
    text-shadow: 1px 8px 5px red;
    color: transparent;
}