*{
    padding: 0;
    margin: 0;
}


.navbar{
    background-color: maroon;
    font-size: 200%;
    word-spacing: 20px;
    padding: 15px  20px;
    text-align: right;
}

.navbar li{
    display: inline;
}

li:hover{
    border: 3px solid ghostwhite;
}

.navbar a{
    text-decoration: none;
    color: ghostwhite;
}
.navbar img{
    display: inline;
    width: 80px;
    height: 80px;
    float: left;
}

.section_area img{
    width: 100% ;
    height:500px ;
}